@import "tailwindcss";
@config "../../tailwind.config.ts";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Crimson+Pro:wght@300;400;600&display=swap');

:root {
  --background: #FAFAFA;
  --foreground: #1F2937;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
